body {
    background-image: url("./images/histpod.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.inputSection{
    width: 100px;
}

.inputs{
    width: inherit;
    display: flex;
    flex-direction: column;
}

h1{
    color:black;
    letter-spacing: 2px;
    font-size: 40px;
}

h2{
    color:black;
    letter-spacing: 2px;
    font-size: 40px;
}
.drop_button {
    background-color: #3d8b40;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight:bold;
}
.drop_button:hover, .drop_button:focus {
    background-color: #245326;
}
.text_button{
    margin-top: 10px;
    margin-left: 25px;
    background-color: #3d8b40;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-weight:bold;
}
.text_button:hover, .text_button:focus {
    background-color: #245326;
}
.timeline_link{
    margin-top: 20px;
}
a{
    font-size: 20px;
    color:blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: hotpink;
}